@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Rajdhani&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

.container{
   width: 100%;
   min-height: 100vh;
    background: linear-gradient(45deg, #5700CC ,#B6CDE4);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container h2{
    font-size: 45px;
    font-weight: 900;
    color: aliceblue;
    margin-top: -50px;
    margin-bottom: 50px;
}

.container h2 span{
    color:#5700CC;
}

textarea{
    width: 600px;
    height: 300px;
    background: rgba(225, 225, 225, 0.5);
    color: aliceblue;
    font-size: 23px;
    border: 0;
    outline: 0;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

textarea::placeholder{
    color: #1139CA;
    letter-spacing: 4px;
}


button{
    margin-left: 22%;
    margin-bottom: 12px;
}


.btn{
    margin-top: 32px;
    width: 150px;
    height: 40px;
    background: rgba(225, 225, 225, 0.3);
    border: none;
    outline: none;
    border-radius: 23px;
    font-size: 21px;
    font-weight: 600;
    cursor: pointer;
    padding: 9px 6px;
   display: flex;
   align-items: center;
}

.btn .bx-play-circle{
    width: 16px;
    margin-right: 25px;
    padding-left: 21px;
    font-size: 21px;
    color: aliceblue;

}

select{
    position: absolute;
    top: 69.9%;
    right:44%; 
    flex: 5;
    color: #000;
    background-color: rgba(225, 225, 224, 0.7);
    border: 0;
    outline: 0;
    width: 400px;
    height: 40px;
    border-radius: 35px;
    padding:  0 20px;
    appearance: none;
    background-repeat: no-repeat;
    background-size: 15px;
    background-position-x: calc(50% - 20px);
    background-position-y: 20px;
}
